#a{
    background-color: rgb(236, 182, 31);
}
#b{
    background-color: rgb(114, 81, 9);
}
#c{
    background-color: gold;
}
#d{
    background-color: rgb(105, 86, 32);  
}
#e{
    background-color: rgb(9, 99, 5);
}
#f{
    background-color: rgb(31, 158, 19);
}

#g{
    background-color: rgb(71, 236, 98);
}

#h{
    background-color: rgb(34, 165, 62);

}
#i{
    background-color: rgb(215, 233, 54);
}